* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.c-rocket {
  position: relative;
  width: 120px;
  height: 500px;
  background: #2A2B2E;
  border-top-right-radius: 35%;
  border-top-left-radius: 35%;
}

.c-nose-cap {
  background: #555;
  width: 120px;
  height: 200px;
  position: absolute;
  top: -10px;
  border-top-right-radius: 60%;
  border-top-left-radius: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-stripes {
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: -10px;
  z-index: 4;
  mix-blend-mode: color-burn;
}

.o-pattern {
  height: 8px;
  width: calc(100% - 10px);
  margin: 0 auto;
  background: rgba(42, 46, 51, 0.4);
  border-radius: 10px;
}
.o-pattern + .o-pattern {
  margin-top: 9px;
}
.o-pattern:nth-child(1) {
  width: calc(100% - 35px);
}
.o-pattern:nth-child(2) {
  width: calc(100% - 25px);
}
.o-pattern:nth-child(3) {
  width: calc(100% - 20px);
}
.o-pattern:nth-child(4) {
  width: calc(100% - 15px);
}

.o-triangle {
  background: #232527;
  width: 170px;
  height: 120px;
  right: -25px;
  top: -10px;
  position: absolute;
  -webkit-clip-path: polygon(50.38% 25.06%, 50.38% 25.06%, 75.19% 75.19%, 25.06% 75.19%);
          clip-path: polygon(50.38% 25.06%, 50.38% 25.06%, 75.19% 75.19%, 25.06% 75.19%);
  background-color: #000000;
  opacity: 0.4;
  z-index: 6;
  background-image: linear-gradient(#b6b6b6 0.7px, transparent 0.7px), linear-gradient(to right, #b6b6b6 0.7px, #000000 0.7px);
  background-size: 5px 5px;
}

.c-gradient-1 {
  background-image: linear-gradient(to right, #292b2e, #34373b, #3f4449, #4b5157, #575e65);
  width: 15px;
  height: 460px;
  border-top-left-radius: 50%;
  bottom: 0;
  position: absolute;
  filter: blur(3px);
}

.c-gradient-2 {
  background-image: linear-gradient(to right, #aeb3be, #C9CBD2, #e8e9ed, #eff0f3, #f6f6f8, #f6f6f8, #f6f6f8, #f6f6f8, #eff0f3, #e8e9ed, #e1e3e8, #d9dde3);
  width: 40px;
  height: 500px;
  border-top-left-radius: 50%;
  left: 15px;
  bottom: 0;
  position: absolute;
  filter: blur(5px);
}

.c-gradient-3 {
  background-image: linear-gradient(to right, #8c94a0, #838b97, #7b838e, #727a85, #6a727c, #6a727c, #6a727c, #6a727c, #727a85, #7b838e, #838b97, #8c94a0);
  width: 35px;
  height: 510px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  left: 45px;
  bottom: 0;
  position: absolute;
  filter: blur(5px);
}

.c-gradient-4 {
  background-image: linear-gradient(to right top, #d1dce8, #dbe2ec, #e4e9f1, #edeff5, #f5f6f9, #f5f6f9, #f5f6f9, #f5f6f9, #edeff5, #e4e9f1, #dbe2ec, #d1dce8);
  width: 20px;
  height: 500px;
  border-top-right-radius: 50%;
  left: 80px;
  bottom: 0;
  position: absolute;
  filter: blur(5px);
}

.c-gradient-5 {
  background-image: linear-gradient(to right, #8c99ab, #7a8493, #68707c, #565c66, #454950, #3d4047, #36383e, #2e3035, #2d2f35, #2d2f35, #2c2e34, #2b2e34);
  width: 15px;
  right: 0;
  height: 450px;
  border-top-right-radius: 50%;
  bottom: 0;
  position: absolute;
  filter: blur(3px);
}

.o-actuated-fins-1 {
  background-image: linear-gradient(to right, #818a95, #808995, #808994, #7f8894, #7f8793, #7d8591, #7c848f, #7a828d, #777f8a, #747c86, #727983, #6f7680);
  width: 100px;
  height: 150px;
  position: absolute;
  transform: translate(-50%, -50%) rotate(37deg);
  bottom: -48px;
  left: 32px;
  z-index: -1;
}

.o-actuated-fins-1-bar {
  background-image: linear-gradient(to right, #818a95, #808995, #808994, #7f8894, #7f8793, #7d8591, #7c848f, #7a828d, #777f8a, #747c86, #727983, #6f7680);
  width: 110px;
  height: 40px;
  position: absolute;
  bottom: 33px;
  left: -53px;
  z-index: -1;
}

.o-actuated-fins-2 {
  background-image: linear-gradient(to left, #818a95, #808995, #808994, #7f8894, #7f8793, #7d8591, #7c848f, #7a828d, #777f8a, #747c86, #727983, #6f7680);
  width: 90px;
  height: 150px;
  position: absolute;
  transform: translate(50%, 50%) rotate(-37deg);
  bottom: 100px;
  right: 32px;
  z-index: -1;
}

.o-actuated-fins-2-bar {
  background-image: linear-gradient(to left, #818a95, #808995, #808994, #7f8894, #7f8793, #7d8591, #7c848f, #7a828d, #777f8a, #747c86, #727983, #6f7680);
  width: 110px;
  height: 40px;
  position: absolute;
  bottom: 29px;
  right: -48px;
  z-index: -1;
}

.c-scape {
  position: absolute;
  bottom: 60px;
}
.c-scape .o-scape-1 {
  position: absolute;
  height: 60px;
  width: 20px;
  left: 23px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background: #656a74;
}
.c-scape .o-scape-1 .o-pattern-1 {
  position: absolute;
  height: 60px;
  width: 8px;
  background: #fff;
  bottom: 0;
  left: 6px;
  filter: blur(3px);
}
.c-scape .o-scape-2 {
  position: absolute;
  height: 60px;
  width: 20px;
  left: 80px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background: #656a74;
}
.c-scape .o-scape-2 .o-pattern-1 {
  position: absolute;
  height: 60px;
  width: 8px;
  background: #fff;
  bottom: 0;
  left: 6px;
  filter: blur(3px);
}

.c-alt-fins-1 {
  background-image: linear-gradient(to right, #818a95, #808995, #808994, #7f8894, #7f8793, #7d8591, #7c848f, #7a828d, #777f8a, #747c86, #727983, #6f7680);
  width: 100px;
  height: 200px;
  position: absolute;
  transform: translate(-50%, -50%) rotate(28deg);
  bottom: -90px;
  left: 20px;
  z-index: -1;
}

.c-alt-fins-1-bar {
  background-image: linear-gradient(to right, #818a95, #808995, #808994, #7f8894, #7f8793, #7d8591, #7c848f, #7a828d, #777f8a, #747c86, #727983, #6f7680);
  width: 110px;
  height: 45px;
  position: absolute;
  bottom: 0;
  left: -72px;
  z-index: -1;
}

.c-alt-fins-1-border {
  background: #F3F3F5;
  height: 172px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  width: 15px;
  left: -10px;
  bottom: 0;
  position: absolute;
  z-index: 8;
  transform: rotate(2deg);
  filter: blur(5px);
}

.c-alt-fins-2 {
  background-image: linear-gradient(to right, #5f666f, #626972, #646c75, #676f79, #6a727c);
  width: 100px;
  height: 200px;
  position: absolute;
  transform: translate(50%, 50%) rotate(-28deg);
  bottom: 110px;
  right: 20px;
  z-index: -1;
}

.c-alt-fins-2-bar {
  background-image: linear-gradient(to right, #5f666f, #626972, #646c75, #676f79, #6a727c);
  width: 110px;
  height: 45px;
  position: absolute;
  bottom: 0;
  right: -72px;
  z-index: -1;
}

.c-alt-fins-2-border {
  background: #F7F7F8;
  height: 172px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  width: 15px;
  right: -9px;
  bottom: 0;
  position: absolute;
  z-index: 8;
  filter: blur(5px);
}/*# sourceMappingURL=styles.css.map */